@font-face {
    font-family: barcelona;
    src: url(./fonts/barcelona.TTF)
}
@font-face {
    font-family: valencia;
    src: url(./fonts/valencia.otf);
}

:root {
    --club-color-primary: red;
    --club-color-secondary:white;
    --club-background-stadium: url('/stadiums/sevilla.jpg');
    --club-logo:url('./logos/sevilla.png');
    --club-font: barcelona
}


html, 
body,
main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamsBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    border: 2px solid black;
    padding: 5px 0;
}
.teamBox {
    width: 30px;
    min-height: 30px;
    padding: 1%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--club-logo);
    border: 2px solid transparent;
}
.teamBox:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.slider {
    width: 80%;
    height: 60%;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    position: relative;
    animation: opacity 2s ease-in-out;
}
.arrowLeft, .arrowRight {
    height: 20%;
    width: 5%;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 0 5px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);

}
.arrowLeft {
    left: 20px;
}
.arrowRight {
    right: 20px;
}

.arrowLeftImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.arrowRightImage {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    
}

.arrowLeft:hover .arrowLeftImage {
    transform: scale(2);
    background: rgba(0,0,0,0.2);
    transition: all 0.5s ease-in-out;
}

.arrowRight:hover .arrowRightImage {
    transform: scale(2);
    transition: all 0.5s ease-in-out;
}

.clubLogo {
    width: 100%;
    height: 100%;
    border: 2px solid pink;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:var(--club-background-stadium);
    animation: opacity 2s ease-in-out;

}

.logoPng {
    width: 40%;
    height: 40%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--club-logo);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clubName {
    font-family: var(--club-font);
    font-size: 50px;
    min-height: 40px;
    min-width: 40px;
    position: absolute;
    top: calc(90%);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
}

@keyframes opacity {
    from{opacity: 0;}
    to{opacity: 1;}
}